*{
    margin:0;
    padding:0;
     font-family: 'Poppins', sans-serif;
}
.Headers{
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./Images/banner.png");
    background-position: center;
    background-size: cover;
    background-position: relative;


}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul li::after
{
content:'' ;
width:0%;
height: 2px;
background: #f44336;
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after
{

    width: 100%;
    
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: #fff;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.hero-btn:hover{
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}
nav .fa{
    display: none;
    
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
   .nav-links ul li{
    display: block;
   } 
   .nav-links{
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 0.5s;
    
   } 
   nav .fa{
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin: 10px;
   }
   .nav-links ul{
    padding: 30px;
   }   
}
.Courses{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
   }
   h1{
    font-size: 36px;
    font-weight: 600;
   }
   p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    margin: 10px 0 40px;
    padding: 10px;
   }
   .row
   {
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
   }
   .course-col{
    flex-basis: 32%;
    background: #fff3f3;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-bottom: 5%;
    border-radius: 10px;
   }
   h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    
   }
   .course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
   }
   @media(max-width: 700px){
    .row{
        flex-direction: column;
    }
   
   }
    .course-col{
        margin-bottom: 20px;
        flex-basis: 100%;
    }
   .campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 50px;
   }
    .campus-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow:hidden;
    }
    .campus-col img{
    width: 100%;
    display: block;
    }
    .layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.layer:hover{
     background: rgba(266,0,0,0.7);
    transition: 1s;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 100px;
   }
   .facilities-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
   }
   .facilities-col img{
    width: 100%;
   }
   .facilities-col p{
    padding: 0;
   }
    .facilities-col h3{
        margin-top: 16px;
        margin-bottom: 15px;
        text-align: left;

        
    }
   .testimonials{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
   }
   .testimonials-col{
    flex-basis: 44%;
    border-radius: 10px;
     margin-bottom: 5%;
     text-align: left;
    background: #fff3f3;
    padding: 25px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
   }
   .testimonials-col img{
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
   }
   .testimonials-col p{
    padding: 0;
   }
   .testimonials-col h3{
    margin-top: 15px;
    text-align: left;
   }
   .testimonials-col .fa{
    color: #f44336;
   }
   @media(max-width:700px){
    .testimonials-col img{  
    margin-left: 0px;
    margin-right: 15px;
   }
   }
   .cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url("./Images/banner2.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
   } 
     .cta h1{
        color: #fff;
        font-size: 36px;
        margin-bottom: 40px;
        padding: 0;
     }
     @media(max-width:700px){
        .cta h1{
            font-size: 24px;
        }
     }
     .footer{
        width: 100%;
        text-align: center;
        padding: 30px 0;
     }
     .footer:h4{
        margin-top: 20px;
        margin-bottom: 25px;
        font-weight: 600;
     }
     .icons .fa{ 
        cursor: pointer;
     }
     .icons .fa:hover{
        color: #f44336;
        transition: 0.5s;
     }
     .Sub-Headers{
    height: 50vh;
    width: 100%;
     }

     .Sub-Headers{
    height: 50vh;
    width: 100%;
    background: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("./Images/background.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
     }
     .Sub-Headers h1{
        margin-top: 100px;
     }
     .about-us{
    width: 80%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;

     }
     .about-col{
        flex-basis: 48%;
        padding: 30px;

     }
        .about-col img{
            width: 100%;
            border-radius: 10px;
        }
        .about-col h1{
            padding-top: 0px;
        }
        .about-col p{
           padding: 15px 0 25px;
        }
        .red-btn{
            border: 1px solid #f44336;
            background: transparent;
            color: #f44336;
        }
        .red-btn:hover{
            background: #f44336;
            color: #fff;
            transition: 1s;
        }